/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 nov. 2021, 00:22:15
    Author     : Brian54
    Login Style
*/

.fondo-login{
    -fx-background-color: #90e0ef;
}

.pane-login{
    -fx-background-color: white;
    -fx-border-radius:80px;
    -fx-background-radius: 30px;
    -fx-opacity:0.8;
}

.titulo-login{
    -fx-font-size: 100px;
    -fx-alignment: center;
    -fx-text-alignment: center; 
    -fx-text-fill:white;
    -fx-font-family: "Brush Script MT";
}

.titulo-welcome{
    -fx-font-family: "Brush Script MT";
    -fx-font-size: 50px;
}

.subtitulo-login{
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-text-alignment: center; 
    -fx-text-fill: white;
    -fx-font-family: "Courier New";
    -fx-opacity:0.8;
}

.button-ventana{
    -fx-background-color: #90e0ef; 
}

.button-logeo{
    -fx-background-radius: 10px;
    -fx-text-fill:white;
    -fx-font-size:20px;
    -fx-font-family: sans-serif;
}

.button-logeo:hover{
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-border-width: .3px;
    -fx-font-size:25px;
}

.button-logeo:pressed{
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-border-width: .3px;
    -fx-font-size:25px;
    -fx-background-color:white;
    -fx-text-fill:black;
}

.txt-logeo{
    -fx-text-fill:black;
    -fx-font-size:20px;
    -fx-font-family: sans-serif;
    -fx-background-color: white; 
}
.bordertext{
    -fx-border-color:black;
    -fx-border-width: .2px;
    -fx-border-radius: 5px;
}

.bordertext:hover{
    -fx-border-width: .4px;
}

.olvido-contrasena{
    -fx-font-size:10px;
}

.olvido-contrasena:hover{
    -fx-font-size:12px;
    -fx-underline:true;
}

.ver-pass:pressed{
    -fx-rotate: 45;
    -fx-background-radius: 15px;
}

/*Register Style*/

.pane-register{
    -fx-background-color: linear-gradient(to right top, #90e0ef, #16edee, #00f7d1, #00fe99, #00ff41);
    -fx-opacity: .80;
    -fx-background-radius: 0px 20px 20px 0px; 
}

.button.cerrar-minimiza-maximiza{
    -fx-background-color: white;
}

.handCursor{
    -fx-cursor: hand;
}